ul {
    margin: 0px;
    padding-bottom: 10px;
}

p {
    font-size: large;
}

button a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

body {
    margin: 0px 20px;
    background-image:url(images/teljeshatter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}

#bevezeto {
    background-color: wheat;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-left: 10px red solid;
    padding-bottom: 20px;
    font-size: medium;
    
}

#navos {
    font-weight: bold;
}

#kep {
    float: right;
    width: 30%;
    height: 30%;
}

.containter-fluid {
    padding: none;
}

nav {
    background-color: rgb(24, 22, 22);
    height: 80px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
    position: sticky;
    top:0,2
}

#navbar > div {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#navbar > div div {
    list-style: none;
    display: inline-block;
    font-family: monsterrat;
    line-height: 80px;
    margin-right: 10px;
}

#navbar > div div a {
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

#navbar > div div a:hover {
    background-color: rgb(186, 169, 169);
    transition: .5s;
    text-decoration: underline;
}


#velemenyek {
    border-top: rgb(226, 204, 193) 10px solid;
    margin-bottom: 20px;
}

.velemeny {
    background-color: rgba(226, 216, 194, 80%);
    padding: 0px 10px 10px 10px;
}

.velemeny p {
    font-size: larger;
}

.velemeny p, .velemeny h2, #lopott {
    background-color: wheat;
    margin: 0px;
    padding: 10px;
}

#lopott > p {
    font-size: medium;
    font-style: italic;
}

#lopott > img {
    width: 80%;
}

footer > p {
    font-size: medium;
    background-color: wheat;
    margin-top: 20px;
    border-left: 10px red solid;
    padding-left: 10px;
}