ul {
    margin: 0px;
    padding-bottom: 10px;
}

p {
    font-size: large;
}

button a {
    color: white;
    text-decoration: none;
    font-size: 2em;
}

#oldaltetejebutton {
    position: fixed;
    right: 3px;
    bottom: 5px;
    width: 3%;
}

#focim {
    text-align: center;
    background-color: black;
    border-bottom: 7px white solid;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 5px;
    margin: 0px 0px 0px 0px;
}

body {
    background-image:url(images/teljeshatter.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
    border-radius: 15px;
}

section {
    border-radius: 15px;
}

#bevezeto {
    background-color: wheat;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-left: 10px red solid;
    padding-bottom: 20px;
    font-size: medium;
    opacity: 88%;
    border-radius: 15px;
    margin-bottom: 10px;
    margin-left: 45px;
    margin-right: 45px;
}

#kep:hover {
    opacity: 0.75;
}

#kep {
    float: right;
    width: 30%;
    height: 30%;
    border-radius: 15px;
    transition: .5s ease;
}

nav {
    background-color: rgb(24, 22, 22);
    height: 80px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 5px;
    text-align: center;
    position: sticky;
    top:0,2;
    margin-left: 45px;
    margin-right: 45px;
}

#navbar > div {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#navbar > div div {
    list-style: none;
    display: inline-block;
    font-family: monsterrat;
    line-height: 80px;
    margin-right: 10px;
    position: static;
}

#navbar > div div a{
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-decoration: none;
}

#navbar > div div a:hover {
    background-color: rgb(186, 169, 169);
    transition: .3s;
    text-decoration: underline;
}


#velemenyek {
    border-top: rgb(226, 204, 193) 10px solid;
    margin-bottom: 20px;
}

.velemeny {
    background-color: rgba(226, 216, 194, 80%);
    padding: 0px 10px 10px 10px;
}

.velemeny p {
    font-size: larger;
}

.velemeny p, .velemeny h2, .kepes {
    background-color: wheat;
    margin: 0px;
    padding: 10px;
}

.kepes > p {
    font-size: medium;
    font-style: italic;
}

.kepes > img {
    width: 400px;
}

#sivatag {
    width: 70%;
}

footer {
    width: 50%;
    font-size: medium;
    background-color: wheat;
    margin: 20px auto;
    border-left: 10px red solid;
    padding-left: 10px;
    text-align: center;

}
  
.oszlop {
    width: 500px;
    height: 550px;
    background-color: #292727;
    color: rgb(206, 203, 203);
    padding: 1em;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
}

#buszk {
    background-color: wheat;
    margin: 0px 85px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-radius: 7px;
    opacity: 88%;
    border-bottom: 5px black solid;
}

.nevgrid {
    border-bottom: 10px rgb(116, 43, 43) solid;
}

.nevgrid2 {
    border-bottom: 7px black solid;
}
  
.container {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.gridkep {
    width: 50%;
    border-radius: 15px;
    transition: .5s ease;
    margin-bottom: 5px;
}

.gridkep:hover {
    opacity: 0.75;
}

#esemenyek {
    padding: 10px 10px 0px 20px;
    background-color: wheat;
    border-left: 10px lightblue solid;
}

#esemenyek-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: justify;
    column-gap: 50px;
    row-gap: 50px;
    padding-bottom: 20px;
}

#esemenyek img {
    height: 300px;
}

#esemenyek > h2 {
    text-align: center;
}

#slide img {
    height: 300px;
}

.idopont {
    font-style: italic;
}

#velemenyek {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#footer-container {
    display: grid;
    padding: 0px 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#footer-container img {
    height: 50px;
}

@media only screen and (max-width: 855px) {
    #footer-container {
        grid-template-columns: 1fr 1fr;
        padding: 0px 10px;
    }
    footer {
        width: 80%;
    }
    #velemenyek {
        grid-template-columns: 1fr;
    }
    #esemenyek-container {
        grid-template-columns: 1fr;
        padding-bottom: 10px;
    }
}

.alcim {
    background-color: wheat;
    margin: 0px 85px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 5px;
    border-radius: 7px;
    opacity: 96%;
}

#leiras {
    background-color: wheat;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 70px;
    font-size: medium;
    opacity: 96%;
    border-radius: 15px;
}

.oszlop2 {
    width: 300px;
    height: 475px;
    background-color: grey;
    color: rgb(14, 11, 11);
    padding: 1em;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    margin-right: 0px;
    margin-left: 0px;
    opacity: 100%;
    border: 5px black solid;
}

.arucim {
    background-color: wheat;
    opacity: 88%;
    text-align: center;
    border-bottom: 4px black solid;
}

.hatteres {
    background-color: wheat;
    padding-bottom: 20px;
    margin: 15px 135px;
    opacity: 95%;
    border: 4px black solid;
}

.raktaron {
    text-align: right;
    color: rgb(22, 217, 22);
    margin-top: 40px;
}

.raktaron2 {
    text-align: center;
    font-size: 30px;
    color: rgb(241, 35, 12);
    margin-top: 40px;
}

.inputos {
    text-align: left;
    width: 25%;
}

.inputszoveg {
    text-align: left;
}